body {
    padding: 2%;
}

h1 {
    text-align: center;
    padding-bottom: 25px;
}

.btn-center {
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

.row-bg-1 {
    background-color: grey;
}

.row-bg-2 {
    background-color: yellow;
}
